.my-img {
    border-radius: 3%;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
.my-about {
    min-height: 300px;
    max-height: 300px;
}
.my-experience {
    min-height: 300px;
    max-height: 300px;
}
.my-skills {
    min-height: 621.5px;
    max-height: 621.5px;
}
.my-list-item {
    font-weight: bold;
}
.my-work {
    margin-top: 40px;
}
.my-work2 {
    margin-top: 20px;
}
.my-p {
    margin-bottom: 0px !important;
}